.container-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute {
  position: absolute;
  max-width: 100%;
}

.image {
  max-width: 100%;
}
