@font-face {
    font-family: 'Norsy';
    src: url('../fonts/norsy-regular.woff2') format('woff2'),
         url('../fonts/norsy-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}