@import '../../../../styles/variables.scss';

.arts {
  margin-top: 150px;
  @include sm-down {
    margin-top: 64px;
  }
}

.container {
  max-width: 1740px;
  margin: auto;

  @include sm-down {
    max-width: 366px;
    padding: 0 4px;
  }
}

.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;

  @include sm-down {
    font-size: 24px;
    line-height: 34px;
  }
}

.wrapper-title {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  @include sm-down {
    column-gap: 13px;
  }
}
.right-line {
  transform: scale(-1, 1);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 44px;
  @include sm-down {
    margin-top: 32px;
  }
}

.item {
  margin: -10px;
  @include sm-down {
    margin: -6px 0;
  }
}

.wrapper-button {
  max-width: 318px;
  display: flex;
  column-gap: 18px;
  justify-content: center;
  align-items: center;
  margin: 48px auto auto auto;
  row-gap: 16px;
  @include xs-down {
    flex-direction: column;
    margin: 30px;
    max-width: 100%;
    margin: 30px 0 0 0;
  }
}

.button-red {
  padding: 10px 30px;
  background-color: $color-red;
  border: 1px solid $color-red;
  transition: $transition-base;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: $color-white;
  border-radius: 25px;
  cursor: pointer;
  &:hover {
    background: transparent;
  }

  @include sm-down {
    width: 100%;
  }
}

.button-black {
  padding: 13px 24px;
  display: flex;
  align-items: center;
  color: $color-white;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  border-radius: 39px;
  justify-content: center;
  cursor: pointer;
  // transition: $transition-base;
  background-color: $color-black;
  border: 1px solid $color-red;
  // &:hover {
  //   background-color: $color-red;
  // }

  @include sm-down {
    width: 100%;
  }
}
